@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic);

html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0 0 10% 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.section-header{
    border-bottom: 2px solid;
    margin-bottom: 1%;
    padding-left: 1%;
}

.section-header > h1.section-title{
    padding-bottom: 0.5%;
    margin-bottom: 0;
}

.section-header > a.btn{
    margin-top: 2%;
    margin-left: 6%;
}

.section-body > form#new-course .left-column{
    margin-top: 2%;
}

.section-body > form#new-course .right-column{
    margin-top: 1%;
}

.box.box-solid>.box-header>.box-tools .btn{
    font-size: larger;
}

.box.box-solid>.box-header a:hover{
    background: none;
}

a.btn.full-width{
    width: 100%;
}

span.field-title{
    font-weight: bold;
}

span.field-value{
    font-style: italic;
    font-weight: bold;
}

nav.navbar{
    padding: 0.5%;
}

a.page-title{
    margin-left: 20%;
    text-decoration: none;
    font-size: x-large;
}


.links > ul > li{
    display: inline;
    list-style: none;
}

.links > ul > li > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

footer{
    background: #e8eaed;
    padding: 0.5% 0;
    border-top: 2px solid;
    border-bottom: 2px solid;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer p{
    font-size: x-small;
}